input[type="text"],
textarea {
  width: 100%;
}

input[type="email"],
input[type="password"],
textarea {
  padding: .75rem 0; //total height ~48
  line-height: 1.5rem !important;

  // Style
  ::placeholder {
    color: $color-complementary;
  }

  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: $black;
  outline: none;

  &[disabled] { opacity: .5; }
}

// Remove chrome/saf autofill yellow background
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $white inset;
}
