input[type="text"],
textarea {
  width: 100%;
  padding: $spacing-unit;
  border: 1px solid $gray;

  &:disabled {
    display: none;
    border-color: $white;
    background-color: $off-white;
    color: $dark-tan;
  }
}

input[type="email"],
input[type="password"] {
  padding: $spacing-unit;
  width: 100%;
  padding: $spacing-unit;
  border: 1px solid $gray;

  // Style
  ::placeholder {
    color: $color-complementary;
  }

  border-radius: 0;
  box-sizing: border-box;
  color: $black;

  &[disabled] { opacity: .5; }
}

// Remove chrome/saf autofill yellow background
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $white inset;
}

fieldset.disabled {
  .row {
    display: none;
  }
}

.loading {
  input {
    background-image: url('/loading.gif');
    background-repeat: no-repeat;
    background-position: right 9px center;
    background-size: 18px 18px;
  }
}

label {
  font-weight: 700;
  padding: $spacing-unit / 2 0;
  display: block;

  &.disabled {
    color: $dark-tan;

    .field-label-modifier {
      color: $dark-tan;
    }
  }

  .field-label-modifier {
    font-weight: 400;
    font-size: 0.8em;
    font-style: italic;
    color: $gray;
  }
}

.help-block {
  font-size: 0.8em;
  display: block;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  line-height: 1.4em;

  &.disabled {
    display: none;
    color: $dark-tan;
  }
}

.cancel-text {
  text-align: center;
  cursor: pointer;
  color: $red;
  text-decoration: none;
  display: block;
  margin-top: $spacing-unit;

  &:hover,
  &:focus {
    color: $gray;
  }
}

.form-group-depth-1 {
  margin-bottom: $spacing-unit * 2;

  .row {
    margin-bottom: $spacing-unit;
  }
}

.nested-subfield {
  margin-top: $spacing-unit * 2;
}

.alert {
  font-size: 0.8em;
}

.alert-danger {
  color: $red;
}

.has-error {
  .alert {
    color: $red;

    & + legend {
      color: $red;
    }
  }

  .error-block {
    color: $red;
    font-size: 0.8em;
  }

  &.form-group-eventType,
  &.form-group-country {
    border: 1px solid $red;
    padding: $spacing-unit;

    .error-block {
      display: block;
    }
  }

  label {
    color: $red;

    .field-label-modifier {
      &.required {
        color: $red;
      }
    }
  }

  input[type="text"] {
    border-color: $red;
  }
}

button[type="submit"],
.button {
  width: 100%;
  background-color: $red;
  color: $white;
  text-transform: uppercase;
  padding: $spacing-unit;
  font-weight: 700;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $teal;
  }
}

.Select-control {
  border-color: $gray;
}

.Select.is-disabled {
  display: none;
  & > .Select-control {
    border-color: $white;
    background-color: $off-white;
  }

  .Select-placeholder {
    color: $dark-tan;
  }
}

.form-intro {
  margin-bottom: $spacing-unit;
  margin-top: 0;
}

.checkbox-group {
  label {
    font-size: 14px;
    font-weight: normal;

    input[type="checkbox"] {
      float: left;
    }

    .label-text {
      padding-left: 24px;
    }
  }

  &.disabled {
    display: none;
  }
}

.fieldset-depth-0 {
  & > .alert-danger {
    position: fixed;
    text-align: center;
    background-color: $red;
    color: $white;
    top: 0;
    left: 0;
    width: 100%;
    padding: $spacing-unit;
    z-index: 1;
    opacity: 0.8;
  }
}

.fieldset-author {
  .form-group-depth-2 {
    label {
      display: none;
    }
  }
}
