input[type="text"],
textarea {
  width: 100%;
  padding: $spacing-unit;
  border: 1px solid $dark-gray;
}

input[type="email"],
input[type="password"] {
  padding: $spacing-unit;

  // Style
  ::placeholder {
    color: $color-complementary;
  }

  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: $black;
  outline: none;

  &[disabled] { opacity: .5; }
}

// Remove chrome/saf autofill yellow background
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $white inset;
}

label {
  font-weight: 700;
}

.form-group {
  margin-bottom: $spacing-unit * 2;
}

.has-error {
  .error-block {
    color: $red;
    font-size: 0.8em;
  }

  label {
    color: $red;
  }

  input[type="text"] {
    border-color: $red;
  }
}
