.page,
#menu {
  @include container;
  margin-left: $spacing-unit;
  margin-right: $spacing-unit;

  @include breakpoint($narrow) {
    @include container($narrow-width);
  }

  @include breakpoint($normal) {
    @include container($normal-width);
  }

  @include breakpoint($wide) {
    @include container($wide-width);
  }
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
