body {
  font-family: $base-font-stack;
  font-style: normal;
  color: $black;
  font-size: 16px; //this sets the baseline so we can use multiples of 4 & (r)ems
}

h1 {
  font-size: 40px;
}

h2 {
  font-family: $oswald-font-stack;
  color: $teal;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: $spacing-unit;
}

h3 {
  font-weight: bold;
  font-size: 19px;
}

a {
  color: $red;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $gray;
  }
}

em,
em a {
  font-style: italic;
}

p {
  line-height: 1.4em;
  margin-bottom: $spacing-unit;
}

ol {
  list-style-type: decimal;
  padding-left: 20px;

  li {
    margin-bottom: $spacing-unit;
    line-height: 1.4em;
  }

  ol {
    list-style-type: lower-roman;
  }

  ol.ordered-list-letters {
    list-style-type: upper-alpha;

    ol {
      list-style-type: lower-alpha;
    }

    ol.ordered-list-numbers {
      list-style-type: decimal;
    }
  }
}

.markdown-formatted {
  ul,
  ol {
    padding-left: 20px;

    li {
      margin-bottom: $spacing-unit;
    }
  }

  ul {
    li {
      list-style-type: disc;
    }
  }

  ol {
    li {
      list-style-type: decimal;
    }
  }
}

th {
  text-align: left;
}
