.overlay-wrapper {
  .page.auth {
    padding: 0;

    @include breakpoint($narrow) {
      padding: 0;

      @include container($narrow-auth-width);
    }

    @include breakpoint($normal) {
      @include container($normal-auth-width);
    }

    @include breakpoint($wide) {
      @include container($wide-auth-width);
    }

    .page-content {
      padding: $spacing-unit;

      @include breakpoint($narrow) {
        padding: $spacing-unit * 4;
      }
    }
  }
}
