.homepage-section-header {
  text-align: center;

  h2 {
    padding: $spacing-unit $spacing-unit * 4;

    background-color: $black;
    padding: $spacing-unit $spacing-unit * 4;

    @include breakpoint($narrow) {
      background-color: transparent;

      span {
        background-color: $black;
        padding: $spacing-unit $spacing-unit * 4;
      }
    }

    color: $white;
    font-size: 20px;
  }
}

.homepage-globe-label {
  @extend .homepage-section-header;

  margin-top: $spacing-unit;

  h2 {
    padding: $spacing-unit $spacing-unit * 4;

    background-color: $white;
    border: solid 1px $dark-tan;
    padding: $spacing-unit $spacing-unit * 4;

    @include breakpoint($narrow) {
      background-color: transparent;
      border: none;

      span {
        background-color: $white;
        border: solid 1px $dark-tan;
        padding: $spacing-unit $spacing-unit * 4;
      }
    }

    color: $white;
    font-size: 20px;
  }
}

.homepage-intro-text {
  color: $teal;
  line-height: 1.2em;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: $spacing-unit;

  @include breakpoint($narrow) {
    font-size: 35px;
    margin: $spacing-unit * 4 15%;
  }
}

.homepage-search-wrapper {
  background-color: $background-teal;
  border-top: solid 4px $black;
  padding-bottom: $spacing-unit * 4;
  margin-top: $spacing-unit * 4;
}

.homepage-events-list {
  margin-top: $spacing-unit * 4;
  background-color: $white;
  border: solid 1px $dark-tan;
  margin-bottom: $spacing-unit * 2;
  padding: $spacing-unit;
  overflow: auto;

  @include breakpoint($narrow) {
    padding: $spacing-unit * 3;
  }

  h2 {
    color: $black;
    margin-bottom: $spacing-unit * 2;
  }

  ul.results {
    margin: 0;

    li {
      @include breakpoint($narrow) {
        @include gallery(1 of 2);
      }
      @include breakpoint($normal) {
        @include gallery(1 of 3);
      }

      border-top: 1px solid $dark-tan;
      padding-top: $spacing-unit;
      margin-bottom: $spacing-unit * 4;
    }

    .event-type {
      line-height: 1em;
    }
  }

  .events-today-view-all {
    font-family: $oswald-font-stack;
    clear: both;
    text-align: center;
    text-transform: uppercase;
  }
}

.homepage-howlround-content {
  border-top: solid 4px $black;
  border-bottom: solid 4px $black;
  overflow: auto;

  .homepage-section-header {
    @include breakpoint($narrow) {
      position: relative;
      z-index: 1;
      margin-bottom: -50px;
    }

    h2 {
      margin-bottom: 0;
    }
  }

  .howlround-post-featured {
    position: relative;
    color: $white;
    line-height: 1.2em;

    @include breakpoint($narrow) {
      @include span(1 of 3 inside no-gutters);

      &:nth-child(3n+1) {
        @include last;
      }
    }

    a.howlround-post-title {
      font-weight: bold;
      color: $white;
      font-size: 15px;

      &:hover,
      &:focus {
        color: $light-gray;
      }
    }

    .howlround-post-color-overlay {
      background: rgb(28,63,83); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(28,63,83,0.3) 40%, rgba(28,63,83,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(28,63,83,0.3) 40%,rgba(28,63,83,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(28,63,83,0.3) 40%,rgba(28,63,83,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      // background-color: $color-ancillary;
      opacity: 0.8;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    &:nth-child(2n+1) {
      .howlround-post-color-overlay {
        // background-color: $red;
        background: rgb(200,61,40.3); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(200,61,40,0.3) 40%, rgba(200,61,40,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(200,61,40,0.3) 40%,rgba(200,61,40,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(200,61,40,0.3) 40%,rgba(200,61,40,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      }

      a.howlround-post-title {
        &:hover,
        &:focus {
          color: $black;
        }
      }
    }


    &:nth-child(3n+1) {
      .howlround-post-color-overlay {
        // background-color: $teal;
        background: rgb(28,180,176); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(28,180,176,0.3) 40%, rgba(28,180,176,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(28,180,176,0.3) 40%,rgba(28,180,176,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(28,180,176,0.3) 40%,rgba(28,180,176,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      }

      a.howlround-post-title {
        &:hover,
        &:focus {
          color: $black;
        }
      }
    }

    img {
      width: 100%;
      display: block;
    }

    .howlround-post-content {
      position: absolute;
      bottom: 0;
      padding: $spacing-unit;
    }

    .howlround-post-date {
      font-size: 12px;
      text-transform: uppercase;
    }

    .howlround-post-authors {
      font-size: 14px;
      font-style: italic;
    }

    @include breakpoint($normal) {
      .howlround-post-date {
        font-size: 14px;
      }

      a.howlround-post-title {
        font-size: 22px;
      }

      .howlround-post-authors {
        font-size: 16px
      }
    }
  }
}

.homepage-search-links {
  @extend h2;
  color: $dark-gray;

  text-align: center;
  margin: 0;
  margin-bottom: $spacing-unit*2;

  @include breakpoint($narrow) {
    margin: $spacing-unit*3 0 $spacing-unit*6 0;
  }
}
