.homepage-section-header {
  text-align: center;

  h2 {
    padding: $spacing-unit $spacing-unit * 4;

    span {
      background-color: $black;
      padding: $spacing-unit $spacing-unit * 4;
    }

    color: $white;
    font-size: 20px;
  }
}

.homepage-search-wrapper {
  background-color: $background-teal;
  border-top: solid 4px $black;
  padding-bottom: $spacing-unit * 4;
  margin-top: $spacing-unit * 4;
}

.homepage-events-globe {
  p {
    font-size: 35px;
    color: $teal;
    text-align: center;
    font-weight: bold;
    margin: $spacing-unit * 4 15%;
    line-height: 1.2em;
  }
}

.homepage-events-list {
  margin-top: $spacing-unit * 4;
  background-color: $white;
  border: solid 1px $dark-tan;
  margin-bottom: $spacing-unit * 2;
  padding: $spacing-unit;
  overflow: auto;

  @include breakpoint($narrow) {
    padding: $spacing-unit * 3;
  }

  h2 {
    color: $black;
    margin-bottom: $spacing-unit * 2;
  }

  ul.results {
    margin: 0;

    li {
      @include breakpoint($narrow) {
        @include gallery(1 of 2);
      }
      @include breakpoint($normal) {
        @include gallery(1 of 3);
      }

      margin-bottom: $spacing-unit * 4;
    }

    .event-type {
      border-bottom: 1px solid $dark-tan;
      margin-bottom: $spacing-unit / 2;
      line-height: 1em;
    }
  }

  .events-today-view-all {
    font-family: $oswald-font-stack;
    clear: both;
    float: right;
    text-transform: uppercase;
  }
}
