.homepage-section-header {
  text-align: center;

  h2 {
    background-color: $black;
    color: $white;
    padding: $spacing-unit $spacing-unit * 4;
    font-size: 20px;
    display: inline;
  }
}

.homepage-events-globe {
  p {
    font-size: 35px;
    color: $teal;
    text-align: center;
    font-weight: bold;
    margin: $spacing-unit * 4 15%;
    line-height: 1.2em;
  }
}

.homepage-events-list {
  background-color: $white;
  border: solid 1px $dark-tan;
  margin-bottom: $spacing-unit * 2;
  padding: $spacing-unit;
  overflow: auto;

  @include breakpoint($narrow) {
    padding: $spacing-unit * 3;
  }

  ul.search-results {
    margin: 0;

    @include breakpoint($normal) {
      li {
        @include gallery(1 of 2);
      }
    }
  }
}
