.overlay-background {
  position: fixed;
  background-color: $teal;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.8;
}

.overlay-close {
  position: absolute;
  top: 5px;
  right: 12px;
  color: $black;
  font-weight: bold;
  font-size: 2em;
  cursor: pointer;
  line-height: 1em;

  &:hover,
  &:focus {
    color: $gray;
  }
}

.overlay-wrapper {
  .page {
    position: absolute;
    top: 0;
    margin: $spacing-unit;

    @include breakpoint($narrow) {
      position: relative;
      top: inherit;
      margin-top: $spacing-unit * -2;
    }
  }

  .page,
  .nested-overlay-page-content {
    background-color: $off-white;
    padding: $spacing-unit;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    @include breakpoint($narrow) {
      @include container($narrow-width);

      border: none;
      padding: $spacing-unit * 4;
      margin-bottom: $spacing-unit * 4;
    }

    @include breakpoint($normal) {
      @include container($normal-width);
    }

    @include breakpoint($wide) {
      @include container($wide-width);
    }
  }
}

// Nested modals
.overlay-wrapper {
  .overlay-wrapper {
    position: absolute;
    top: 0;
    width: 100%;

    .nested-overlay-page {
      background-color: transparent;
      padding: $spacing-unit;

      .nested-overlay-page-content {
        position: relative;
        background-color: $off-white;

        @include breakpoint($narrow) {
          margin-top: 35px;
        }
      }
    }
  }
}

