.search {
  section {
    background-color: $white;
    border: solid 1px $dark-tan;

    @include breakpoint($narrow) {
      padding: $spacing-unit * 3;
    }
  }
}

ul.search-type {
  overflow: auto;
  border-bottom: solid 2px $teal;
  padding: $spacing-unit;
  padding-bottom: 0;

  @include breakpoint($narrow) {
    padding: 0;
  }

  li {
    float: left;
    border-right: 3px solid $white;
  }

  a {
    // font-family: $oswald-font-stack;
    font-size: 15px;
    text-transform: uppercase;
    padding: $spacing-unit;
    background-color: $background-teal;
    color: $black;
    display: block;

    @include breakpoint($narrow) {
      padding: $spacing-unit ($spacing-unit * 2);
    }

    &:hover,
    &:focus {
      background-color: $dark-tan;
    }

    &.active {
      background-color: $teal;
      color: $white;

      &:hover,
      &:focus {
        background-color: $gray;
      }
    }
  }
}

ul.search-results {
  @include results-listing;

  margin: $spacing-unit * 2;
  margin-top: 0;
  padding-top: 0;
}

.search-type-content {
  border: solid 1px $dark-tan;
  border-top: none;
}
