.announcement {
  font-size: 12px;
  text-align: center;
  padding: $spacing-unit;
  color: $dark-gray;
  background-color: $medium-tan;
  position: relative;

  @include breakpoint($narrow) {
    font-size: 15px;
    padding: $spacing-unit $spacing-unit * 2;
  }

  p:last-child {
    margin-bottom: 0;
  }

  .edit-announcement {
    font-size: 11px;
    display: none;
    position: absolute;
    right: $spacing-unit;
    top: $spacing-unit;
  }

  &:hover {
    .edit-announcement {
      display: block;
    }
  }
}
