article.full {
  @include breakpoint($narrow) {
    @include span(5 of 8);
  }

  section {
    background-color: $white;
    border: solid 1px $dark-tan;
    margin-bottom: $spacing-unit * 2;
    padding: $spacing-unit;

    @include breakpoint($narrow) {
      position: relative;
      padding: $spacing-unit * 3;
    }
  }

  .edit-links {
    display: block;
    font-size: 13px;

    @include breakpoint($narrow) {
      position: absolute;
      top: $spacing-unit * 3;
      right: $spacing-unit * 3;
    }

    a {
      display: block;
      text-align: right;
    }
  }
}
