.count-by-type {
  display: inline-block;
  margin-right: 12px;

  &::after {
    content: "//";
    margin-left: $spacing-unit;
  }

  &:last-child {
    &::after {
      content: none;
    }
  }

  .count {
    display: inline;
    margin-right: 5px;
    font-weight: bold;
  }

  .type {
    display: inline;
  }

  @include breakpoint($narrow) {
    @include gallery(1 of 4);

    &::after {
      content: none;
    }

    margin-right: 0;
    text-align: center;
    padding: $spacing-unit 0;
    border-top: 1px solid $black;

    .count {
      margin-right: 0;
      display: block;
      font-size: 20px;
    }

    .type {
      display: block;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

.content-counts {
  overflow: auto;
  background-color: transparent;
  padding: 0;
  padding-bottom: $spacing-unit * 2;
  text-align: center;

  h2 {
    text-align: center;
    font-size: 17px;
  }

  .footer-content {
    overflow: auto;
    padding-top: $spacing-unit;
  }
}

// Specific styling to the footer version
.footer-add-pitch + .content-counts {
  padding: $spacing-unit * 2 0;

  h2 {
    text-align: center;
    font-size: 17px;
  }

  .footer-content {
    overflow: auto;
    padding-top: $spacing-unit;
  }

  @include breakpoint($narrow) {
    .count-by-type {
      border-top: none;
    }
  }
}
