.count-by-type {
  display: inline-block;
  margin-right: 12px;

  &::after {
    content: "//";
    margin-left: $spacing-unit;
    color: $gray;
  }

  &:last-child {
    &::after {
      content: none;
    }
  }

  .count {
    display: inline;
    margin-right: 5px;
    font-weight: bold;
  }

  .type {
    display: inline;
  }

  @include breakpoint($narrow) {
    @include gallery(1 of 5);

    &::after {
      content: none;
    }

    margin-right: 0;
    text-align: center;
    padding: $spacing-unit 0;
    border-top: 1px solid $black;

    .count {
      margin-right: 0;
      display: block;
      font-size: 20px;
      // font-weight: bold;
    }

    .type {
      display: block;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
