.count-by-type {
  @include gallery(1 of 3);

  @include breakpoint($narrow) {
    @include gallery(1 of 5);
  }

  text-align: center;
  margin-bottom: $spacing-unit;

  .count {
    font-size: 20px;
    font-weight: bold;
  }

  .type {
    font-size: 12px;
    text-transform: uppercase;
  }
}
