.count-by-type {
  display: inline-block;
  margin-right: 12px;
  // @include gallery(1 of 3);

  .count {
    display: inline;
    margin-right: 5px;
    font-weight: bold;
  }

  .type {
    display: inline;
  }

  @include breakpoint($narrow) {
    @include gallery(1 of 5);

    margin-right: 0;
    text-align: center;
    margin-bottom: $spacing-unit;

    .count {
      margin-right: 0;
      display: block;
      font-size: 20px;
      // font-weight: bold;
    }

    .type {
      display: block;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
