article.event {
  section {
    overflow: auto;
  }

  .event-details {
    margin-top: $spacing-unit * 2;
    font-size: 15px;
  }

  .event-name {
    a {
      color: $dark-tan;

      &:hover,
      &:focus {
        color: $gray;
      }
    }
  }

  .event-authorship {
    color: $dark-tan;

    a {
      color: $dark-tan;

      &:hover,
      &:focus {
        color: $gray;
      }
    }
  }
}

article.event.with-location {
  .event-main-info {
    float: left;
    width: 100%;

    @include breakpoint($normal) {
      float: left;
      width: 603px - 30px - 30px - 200px - 2px - ($spacing-unit * 2);
    }

    @include breakpoint($wide) {
      width: 750px - 30px - 30px - 200px - 2px - ($spacing-unit * 2);
    }
  }

  .event-globe {
    float: left;
    margin-right: $spacing-unit * 2;
    width: 200px;
  }
}

section.show-events {
  ul {
    border-bottom: 1px solid $light-teal;
    padding-top: $spacing-unit * 2;
  }
}

article.event-teaser {
  border-top: 1px solid $light-teal;
  padding: ($spacing-unit * 2) 0;

  .event-main-info {
    line-height: 1.5em;
  }
}

form.participant-edit-form {
  h3 {
    margin-bottom: $spacing-unit;
  }
}

ul.event-participant-list {
  padding-bottom: $spacing-unit * 2;
}

.event-participant-list-item {
  padding: $spacing-unit 0;

  .event-participant-role {
    text-transform: uppercase;
    font-size: 13px;
    color: $dark-gray;
    margin-top: 6px;
  }
}
