article.event {
  .event-name {
    a {
      color: $dark-tan;

      &:hover,
      &:focus {
        color: $gray;
      }
    }
  }

  .event-authorship {
    color: $dark-tan;

    a {
      color: $dark-tan;

      &:hover,
      &:focus {
        color: $gray;
      }
    }
  }
}
