#globe {
  margin: auto;
  max-width: 100%;

  canvas {
    max-width: 100%;
  }
}

.events-globe {
  position: relative;

  #globe {
    width: 745px;
  }

  .event-date-range {
    display: block;
  }
}

.event-info-wrapper {
  font-size: 14px;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 210px;
  text-align: center;

  @include breakpoint($narrow) {
    position: absolute;
  }
}

.event-info {
  text-align: left;
  background-color: white;
  padding: $spacing-unit;
  border: solid 1px $dark-tan;

  @include breakpoint($narrow) {
    border: none;
    padding: 8px;
    margin: auto;
    width: 260px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
  }
}

.stop-button {
  float: right;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;

  &:focus,
  &:hover {
    color: $gray;
  }
}
