article.event {
  section {
    overflow: auto;
  }

  .event-details {
    margin-top: $spacing-unit * 2;
    font-size: 15px;
  }

  .event-name {
    font-size: 36px;
    line-height: 40px;
  }

  .event-organizations {
    font-size: 18px;
    line-height: 24px;
  }

  .event-organizations-presents {
    text-transform: uppercase;
    font-size: 15px;
  }

  .event-type {
    font-size: 14px;
    text-transform: uppercase;
  }

  .event-location {
    line-height: 21px;
  }

  .event-date-range {
    margin-bottom: $spacing-unit;
  }
}

article.event.with-location {
  .event-main-info {
    float: left;
    width: 100%;

    @include breakpoint($normal) {
      float: left;
      width: 603px - 30px - 30px - 200px - 2px - ($spacing-unit * 2);
    }

    @include breakpoint($wide) {
      width: 750px - 30px - 30px - 200px - 2px - ($spacing-unit * 2);
    }
  }

  .event-globe {
    float: left;
    margin-right: $spacing-unit * 2;
    width: 200px;
  }
}

section.show-events {
  ul {
    @include results-listing;
  }
}

article.event-teaser {
  .event-main-info {
    line-height: 1.5em;
  }
}

article.event-teaser-with-show {
  .event-main-info {
    line-height: 1.5em;
  }

  .event-organizations {
    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .event-organizations-presents {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .event-show-name {
    font-size: 17px;
    line-height: 20px;
  }

  .event-authorship {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .event-type {
    text-transform: uppercase;
    font-size: 13px;
  }

  .event-location {
    font-size: 13px;
  }

  .event-view-link {
    background-color: $red;
    padding: $spacing-unit;
    color: $white;
    display: inline-block;
    margin-top: 15px;

    &:hover,
    &:focus {
      background-color: $teal;
      color: $white;
    }
  }
}

.search-results {
  article.event-teaser-with-show {
    overflow: auto;

    .event-main-info {
      @include breakpoint($narrow) {
        position: relative;
      }
    }

    .event-type {
      font-size: 11px;
      color: $gray;
      float: left;
      clear: both;

      @include breakpoint($narrow) {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .event-show-name {
      float: left;
      line-height: 1.5em;
      margin-right: $spacing-unit / 2;
    }

    .event-authorship {
      float: left;
      line-height: 1.5em;
      margin-right: $spacing-unit / 2;
      margin-bottom: 0;
    }

    .event-organizations {
      font-size: 13px;
      margin-bottom: 0;
    }

    .event-organizations-presents {
      font-size: 13px;
      text-transform: none;
    }

    .event-location {
      float: left;
      clear: left;
      font-size: 13px;
      color: $gray;
      margin-right: $spacing-unit * 2;
    }

    .event-date-range {
      float: left;
      color: $gray;
      margin-right: $spacing-unit * 2;
    }

    .event-view-link {
      background-color: transparent;
      padding: 0;
      color: $red;
      display: inline-block;
      margin-top: 0;
      float: right;
      font-weight: bold;

      &:hover,
      &:focus {
        background-color: transparent;
        color: $gray;
      }
    }
  }
}

form.participant-edit-form {
  h3 {
    margin-bottom: $spacing-unit;
  }
}

ul.event-participant-list {
  padding-bottom: $spacing-unit * 2;
}

.event-participant-list-item {
  padding: $spacing-unit 0;

  .event-participant-role {
    text-transform: uppercase;
    font-size: 13px;
    color: $dark-gray;
    margin-top: 6px;
  }
}
