.feedback-link {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  overflow: hidden;

  a {
    background-color: $light-red;
    color: $white;
    display: block;
    padding: $spacing-unit;

    &:focus,
    &:hover {
      background-color: $dark-red;
    }
  }

  @include breakpoint($narrow) {
    font-size: 12px;
    font-weight: normal;
    position: fixed;
    right: 0;
    bottom: 90px;
    border-radius: 0 0 5px 5px;
    -webkit-transform: rotate(90deg) translate(0,100%);
            transform: rotate(90deg) translate(0,100%);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;

    a {
      &:focus,
      &:hover {
        padding-top: $spacing-unit + 3px;
      }
    }
  }
}
