section.footer {
  font-size: 13px;
  background-color: $medium-gray;
  overflow: auto;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  color: $white;

  @include breakpoint($narrow) {
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;
  }

  a {
    color: $white;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $dark-tan;
    }
  }

  .footer-block {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit * 2;
    overflow: auto;

    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include breakpoint($narrow) {
      max-width: inherit;
      text-align: inherit;

      @include gallery(1 of 2);
    }

    @include breakpoint($normal) {
      @include gallery(1 of 4);

      ul.footer-social {
        text-align: right;
      }
    }
  }

  .footer-credits {
    color: $light-gray;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit * 2;

    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include breakpoint($narrow) {
      max-width: inherit;
      text-align: inherit;

      @include gallery(1 of 2);
    }

    @include breakpoint($normal) {
      &.footer-attribution {
        text-align: right;
      }
    }

    a {
      color: $light-gray;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $gray;
      }
    }
  }

  .footer-navigation {
    font-size: 14px;

    li {
      margin-bottom: $spacing-unit;
    }
  }

  .footer-site-name {
    font-weight: 900;
    font-size: 20px;
    line-height: 1em;
  }

  .footer-howlround-credit {
    color: $light-gray;
  }

  ul.footer-social {
    width: 95px;
    margin: auto;

    @include breakpoint($narrow) {
      margin: 0;
    }

    @include breakpoint($normal) {
      float: right;
    }

    li {
      margin-right: $spacing-unit;
      float: left;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .facebook {
    width: 13px;
    height: 27px;
    background-image: url('/facebook-white.png');
    margin-bottom: $spacing-unit;

    @include image-replace-link;
  }

  .twitter {
    width: 35px;
    height: 27px;
    background-image: url('/twitter-white.png');
    margin-bottom: $spacing-unit;

    @include image-replace-link;
  }

  .instagram {
    width: 27px;
    height: 27px;
    background-image: url('/instagram-white.png');
    margin-bottom: $spacing-unit;

    @include image-replace-link;
  }
}

a.howlround-footer-logo {
  width: 114px;
  height: 17px;
  background-image: url('/Howlround_Logo_Tag.png');
  margin-bottom: $spacing-unit;
  margin: auto;
  pointer: cursor;

  @include image-replace-link;

  @include breakpoint($narrow) {
    margin: 0 0 $spacing-unit 0;
  }
}

a.emerson-footer-logo {
  width: 165px;
  height: 22px;
  background-image: url('/emerson.png');
  margin: auto;
  pointer: cursor;

  @include image-replace-link;

  @include breakpoint($narrow) {
    margin: 0 0 $spacing-unit 0;
  }
}
