.footer-add-pitch {
  background-color: $teal;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  color: $white;
  font-size: 15px;
  text-align: center;

  @include breakpoint($narrow) {
    padding-top: $spacing-unit * 4;
    padding-bottom: $spacing-unit * 2;
    font-size: 23px;
  }
}

.footer-add-button {
  display: block;
  background-color: $white;
  color: $teal;
  width: 70%;
  margin: $spacing-unit auto;

  @include breakpoint($narrow) {
    margin: $spacing-unit * 3 auto;
  }

  &:hover,
  &:focus {
    color: $black;
    background-color: $background-teal;
  }
}
