#header {
  background-color: $red;
}

a.home {
  color: $white;
  font-size: 27px;
  font-weight: 700;
  line-height: 2em;

  &:hover {
    color: $white;
  }
}

.user-menu {
  float: right;
}

.add-menu {
  float: right;
}
