#header {
  background: $dark-red;

  @include breakpoint($narrow) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+30,2989d8+30,2989d8+30,7db9e8+100 */
    background: -moz-linear-gradient(left,  $dark-red 0%, $dark-red 30%, $light-red 30%, $light-red 30%, $light-red 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  $dark-red 0%,$dark-red 30%,$light-red 30%,$light-red 30%,$light-red 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  $dark-red 0%,$dark-red 30%,$light-red 30%,$light-red 30%,$light-red 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}

section#menu {
  @include breakpoint($narrow) {
    background-color: $red;
  }
}

a.home {
  display: block;
  text-align: center;
  color: $white;
  font-size: 27px;
  font-weight: 900;
  padding: $spacing-unit 0;

  @include breakpoint($narrow) {
    line-height: $header-height;
    text-align: inherit;
    padding: 0 22px 0 0;
    float: left;
    background-color: $dark-red;
    border-right: 1px solid $background-red;

    &:hover {
      border-right: 1px solid $white;
    }
  }

  &:hover {
    color: $white;
  }

  .beta-label {
    color: $background-red;
    font-weight: normal;
    font-style: italic;
    font-size: 0.6em;
    vertical-align: super;
  }
}

html[locale="es"] {
  a.home {
    font-size: 22px;

    @include breakpoint($normal) {
      font-size: 27px;
    }
  }
}
