#header {
  background-color: $red;
}

a.home {
  color: $white;
  background-color: $dark-red;
  font-size: 27px;
  font-weight: 700;
  line-height: 2em;

  &:hover {
    color: $white;
  }
}

.user-menu {
  float: right;
}

.add-menu {
  float: right;

  a {
    color: $white;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: $light-red;
      color: $white;
    }
  }
}
