.homepage-option-toggle {
  .option-toggle-item {
    position: absolute;
    padding: 0;
    margin: 0;
    top: -4px;
    font-size: 50px;
    z-index: 2;

    color: $red;

    &:hover,
    &:focus {
      color: $gray;
    }

    @include breakpoint($narrow) {
      font-size: 60px;
      top: 41px;
    }
  }
}

.homepage-display-people {
  right: 0;
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);

  @include breakpoint($narrow) {
    right: 20px;
  }

  @include breakpoint($normal) {
    right: 140px;
  }

  @include breakpoint($wide) {
    right: 240px;
  }
}

.homepage-display-events {
  left: 0;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform:    rotate(-90deg);
  -ms-transform:     rotate(-90deg);
  -o-transform:      rotate(-90deg);

  @include breakpoint($narrow) {
    left: 20px;
  }

  @include breakpoint($normal) {
    left: 140px;
  }

  @include breakpoint($wide) {
    left: 240px;
  }
}
