#content-container .loading-app {
  max-width: 220px;
  text-align: center;
}

.overlay-wrapper {
  h2 {
    color: $white;
  }
}

.interior-loading-block {
  display: block;
  position: relative;
  height: 220px;
}
