.menu-container {
    position: relative;
    display: inline-block;

    a.menu-parent {
      line-height: $header-height;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      padding: 0 21px;
      color: $white;

      @include breakpoint($normal) {
        padding: 0 28px;
      }

      @include breakpoint($wide) {
        padding: 0 34px;
      }

      &:hover,
      &:focus {
        background-color: $dark-red;
        color: $white;

        & + .menu-children {
          display: block;
        }
      }
    }

    &:hover,
    &:focus {
      a.menu-parent {
        background-color: $dark-red;
        color: $white;
      }
      .menu-children {
        display: block;
      }
    }
}

.menu-children {
    font-family: $base-font-stack;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.4);
    padding: 0 16px;
    z-index: 1;

    a {
      display: block;
      border-bottom: 1px solid $light-teal;
      padding: 12px 0;

      &:last-child {
        border-bottom: none;
      }
    }
}

.menu-right {
  .menu-children {
    right: 0;
  }
}

.menu-container {
  font-family: $oswald-font-stack;
  display: none;

  @include breakpoint($narrow) {
    display: block;
    float: right;
  }

  &.menu-with-divider {
    border-right: 1px $background-red solid;
  }
}

.user-menu {
  .menu-parent.logged-in {
    @include retina-image('/user-icon_2x.png', 22px, 30px);
    background-repeat: no-repeat;
    width: 22px;
    background-position: 50%;

    @include image-replace;
  }

  @include breakpoint($narrow) {
    background-color: $light-red;
  }
}
