.option-toggle {
  padding: $spacing-unit * 2;

  .option-toggle-item {
    display: inline;
    text-transform: uppercase;
    background-color: $light-gray;
    color: $medium-gray;
    padding: $spacing-unit $spacing-unit * 3;
    font-weight: 700;
    font-size: 14px;

    &:hover,
    &:focus {
      background-color: $light-gray;
      color: $black;
    }

    &.active {
      background-color: $black;
      color: $white;

      &:hover,
      &:focus {
        color: $neon-green;
      }
    }
  }
}
