.page-actions {
  font-size: 13px;
  padding: $spacing-unit 0;
  overflow: auto;

  a {
    padding: $spacing-unit 0;
  }
}

.page-actions-edit {
  a {
    margin-right: $spacing-unit;
  }
}

.page-actions-share {
  float: right;
  font-size: 11px;
  text-transform: uppercase;

  a {
    padding: $spacing-unit;
    color: $white;
    margin-left: $spacing-unit / 2;

    &:hover,
    &:focus {
      background-color: $gray;
    }

    span {
      background-repeat: no-repeat;
      background-position: left center;
    }
  }

  .facebook-share {
    background-color: #3b5998;

    span {
      @include retina-image('/facebook-white.png', 4px, 11px);
      padding-left: 10px;
    }
  }

  .twitter-share {
    background-color: #1da1f2;

    span {
      @include retina-image('/twitter-white.png', 13px, 10px);
      padding-left: 20px;
    }
  }
}
