article.play {
  margin-top: $spacing-unit;

  @include breakpoint($narrow) {
    margin-top: $spacing-unit * 4;
  }

  section {
    background-color: $white;
    border: solid 1px $dark-tan;
    margin-bottom: $spacing-unit * 2;
    padding: $spacing-unit;

    @include breakpoint($narrow) {
      position: relative;
      padding: $spacing-unit * 3;
    }
  }
}

article.play-teaser {
  border-top: 1px solid $light-teal;
  padding: ($spacing-unit * 2) 0;

  h3.play-name {
    display: inline-block;
    margin-right: $spacing-unit;
    margin-bottom: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;
    font-weight: 700;
  }

  .play-authorship {
    display: inline-block;
    color: $dark-gray;
    margin-bottom: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;

    a {
      color: $dark-gray;

      &:hover,
      &:focus {
        color: $black;
      }
    }
  }
}

.edit-play {
  display: block;

  @include breakpoint($narrow) {
    position: absolute;
    top: $spacing-unit * 3;
    right: $spacing-unit * 3;
  }
}
