article.profile {
  section {
    overflow: auto;
  }
}

section.profile-shows {
  ul {
    border-bottom: 1px solid $light-teal;
    padding-top: $spacing-unit * 2;
  }
}

h1.profile-name {
  margin-bottom: $spacing-unit;
  word-break: break-word;
}

.profile-location {
  margin-bottom: $spacing-unit * 2;
  font-size: 19px;
}

.profile-metadata {
  font-size: 13px;
  color: $medium-gray;

  .profile-interests {
    margin-top: $spacing-unit * 2;
    color: $gray;
  }
}

.profile-content-wrapper {
  float: left;
  width: 100%;

  @include breakpoint($normal) {
    float: left;
    width: 603px - 30px - 30px - 200px - 2px - ($spacing-unit * 2);
  }

  @include breakpoint($wide) {
    width: 750px - 30px - 30px - 200px - 2px - ($spacing-unit * 2);
  }
}

.profile-image-wrapper {
  float: left;
  margin-right: $spacing-unit * 2;
  width: 200px;
}

.profile-image-uploading {
  @include title-caps;

  font-size: .625em; // 10px

  &.error {
    color: $light-red;
  }
}
