.overlay-wrapper {
  .translation-page.page {
    padding: 0;
    background-color: transparent;

    @include breakpoint($narrow) {
      padding: 0;
    }

    .translation-source {
      color: $gray;
      position: absolute;
      padding: $spacing-unit;
      background-color: $off-white;
      width: 97%;
      padding-bottom: 90px;

      input[type="text"],
      textarea {
        border: 1px solid $white;
      }

      @include breakpoint($narrow) {
        padding: $spacing-unit * 4;
        padding-bottom: 90px;
      }
    }

    .translation-target {
      position: absolute;
      padding: $spacing-unit;
      background-color: $off-white;
      width: 97%;

      @include breakpoint($narrow) {
        padding: $spacing-unit * 4;
      }
    }

    .active-pane {
      right: 0;
      z-index: 10;
      margin-top: 40px;
      -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
      -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
      box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);

      @include breakpoint($narrow) {
        margin-top: 74px;
      }
    }

    .passive-pane {
      z-index: 9;
      background-color: $background-teal;
      cursor: pointer;
    }
  }
}
