.search-results-toggle {
  padding: $spacing-unit*2;
}

.search-results-toggle-item {
  display: inline;
  text-transform: uppercase;
  background-color: $off-white;
  color: $gray;
  padding: $spacing-unit $spacing-unit*3;
  font-weight: 700;

  &:hover,
  &:focus {
    background-color: $light-gray;
  }

  &.active {
    background-color: $background-teal;
    color: $black;

    &:hover,
    &:focus {
      background-color: $light-teal;
    }
  }
}
