.search-filters {
  padding: $spacing-unit * 2 $spacing-unit;
  font-size: 13px;

  h3 {
    font-family: $oswald-font-stack;
    color: $black;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: $spacing-unit;
  }

  .form-group-depth-1 {
    @include span(1 of 2);

    &:nth-child(2n+1) {
      @include last;
    }

    &.form-group-name {
      font-size: 30px;
      font-weight: bold;

      @include span(1 of 1 last);
    }
  }

  input[type="text"].profile-search-text {
    border: none;
    border-bottom: $black solid 2px;
    padding-left: 0;
    font-weight: bold;
    color: $teal;

    &::placeholder,
    &::-webkit-input-placeholder {
      font-weight: bold;
      color: $teal;
    }
  }
}
