.show-edit-form {
  legend {
    @extend label;
  }

  .checkbox-group {
    overflow: auto;

    div.checkbox {
      @include breakpoint($narrow) {
        @include gallery(1 of 2);
      }

      @include breakpoint($normal) {
        @include gallery(1 of 3);
      }
    }
  }
}

button.edit-show-save {
  margin-top: $spacing-unit * 4;
}

.show-author-id-edit {
  display: none;
}

.author-fields-group {
  .form-group {
    margin-bottom: 0;
  }
}
