article.show-teaser {
  h3.show-name {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;
    font-weight: 700;
  }

  .show-authorship {
    display: inline-block;
    color: $gray;
    margin-bottom: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;

    a {
      color: $gray;

      &:hover,
      &:focus {
        color: $black;
      }
    }
  }
}

article.show.full {
  .show-metadata {
    .show-interests {
      margin-top: $spacing-unit * 2;
      color: $gray;
    }
  }
}
