article.show-teaser {
  border-top: 1px solid $light-teal;
  padding: ($spacing-unit * 2) 0;

  h3.show-name {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;
    font-weight: 700;
  }

  .show-authorship {
    display: inline-block;
    color: $gray;
    margin-bottom: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;

    a {
      color: $gray;

      &:hover,
      &:focus {
        color: $black;
      }
    }
  }
}
