article.show {
  section {
    overflow: auto;
  }
}

article.show-teaser {
  h3.show-name {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;
    font-weight: 700;
  }

  .show-authorship {
    display: inline-block;
    color: $gray;
    margin-bottom: $spacing-unit / 2;
    margin-top: $spacing-unit / 2;

    a {
      color: $gray;

      &:hover,
      &:focus {
        color: $black;
      }
    }
  }

  .show-events-toggle {
    @include secondary-view-link;

    margin-left: 5px;
    float: right;
    line-height: 1.75em;
  }

  ul.show-events {
    & > li {
      margin-bottom: $spacing-unit * 2;
      margin-top: $spacing-unit * 2;
      padding-left: $spacing-unit * 3;

      @include retina-image('/listing-icon-events.png', 12px, 14px);
      background-repeat: no-repeat;
      background-position: 4px 5px;
    }

    article.event-teaser {
      .event-view-link {
        @include secondary-view-link;

        float: none;

        &:after {
          content: " »";
        }
      }
    }
  }
}

article.show.full {
  .show-metadata {
    .show-interests {
      margin-top: $spacing-unit * 2;
      color: $gray;
    }
  }
}

article.show.with-location {
  .show-main-info {
    float: left;
    width: 100%;

    @include breakpoint($normal) {
      float: left;
      width: 603px - 30px - 30px - 200px - 2px - ($spacing-unit * 2);
    }

    @include breakpoint($wide) {
      width: 750px - 30px - 30px - 200px - 2px - ($spacing-unit * 2);
    }
  }

  .show-globe {
    float: left;
    margin-right: $spacing-unit * 2;
    width: 200px;

    .stop-button {
      float: none;
      text-align: center;
      width: 100%;
      display: block;
      color: $light-gray;

      &:focus,
      &:hover {
        color: $gray;
      }
    }
  }
}
