.show-edit-form {
  legend {
    @extend label;
  }
}

button.edit-show-save {
  margin-top: $spacing-unit * 4;
}

.show-author-id-edit {
  display: none;
}

.author-fields-group {
  .form-group {
    margin-bottom: 0;
  }
}
