.sidebar {
  font-size: 14px;

  label {
    font-family: $oswald-font-stack;
    color: $medium-gray;
    text-transform: uppercase;
  }

  section {
    background-color: $white;
    border: solid 1px $dark-tan;
    margin-bottom: $spacing-unit * 2;

    h2 {
      font-size: 16px;
      text-transform: uppercase;
      color: $white;
      background-color: $teal;
      padding: $spacing-unit;
      line-height: 1em;
      margin-bottom: 0;
    }

    .content {
      padding: $spacing-unit;
    }
  }
}
