.overlay-wrapper {
  .translation-page.page {
    padding: 0;

    @include breakpoint($narrow) {
      padding: 0;
    }

    .translation-source,
    .translation-target {
      padding: $spacing-unit;

      @include breakpoint($narrow) {
        padding: $spacing-unit * 4;
      }
    }
  }
}

