$white: #ffffff;
$off-white: #f6f6f6;
$light-gray: #c2c2c2;
$gray: #999999;
$medium-gray: #363636;
$dark-gray: #464646;
$black: #080808;

$tan: #f9f7f2;
$medium-tan: #e8e6e1;
// $medium-tan: #ececec;
$dark-tan: #dbdbdb;

$dark-red: #c33329;
$red: #c83d28;
$light-red: #d65626;
$background-red: #decec5;

$teal: #1cb4b0;
$light-teal: #b3e6e4;
$background-teal: #c8ece9;

// @TODO: Remove these eventually
// From the initial todo less files
$color-primary: #2cc5d2; //caribbean teal (buttons)
$color-secondary: #5db9ff; //cerulean blue (menu new list)
$color-tertiary: #d2edf4; //muted teal (join/signin bg)
$color-ancillary: #1c3f53; //deep navy (nav heading, menu icon)
$color-complementary: #778b91; //muted navy (add item placeholder)
