
$off-white: #f6f6f6;
$gray: #999999;
$medium-gray: #363636;

$tan: #f9f7f2;
$medium-tan: #e8e6e1;
// $medium-tan: #ececec;
$dark-tan: #dbdbdb;

$dark-red: #c33329;
$red: #c83d28;
$light-red: #d65626;
$background-red: #decec5;

$teal: #1cb4b0;
$light-teal: #b3e6e4;
$background-teal: #c8ece9;

// @TODO: Remove these eventually
// From the initial todo less files
$color-primary: #2cc5d2; //caribbean teal (buttons)
$color-secondary: #5db9ff; //cerulean blue (menu new list)
$color-tertiary: #d2edf4; //muted teal (join/signin bg)
$color-ancillary: #1c3f53; //deep navy (nav heading, menu icon)
$color-complementary: #778b91; //muted navy (add item placeholder)

// New HowlRound colors
$white: #ffffff;
// Used as a background color to highlight important pieces of information
$yellow: #FFEC33;

// Used as a background color like on forms and lists
$light-gray: #e9e9e9;

// Used as a font color
$dark-gray: #6d6d6d;

// Primary font color
$black: #000000;

// Hover (“Action”) Colors
// Used as a text link hover color
$dark-purple: #540094;

// Used as a button link hover color
$neon-green: #90f0d2;
