$white: #ffffff;
$light-gray: #f6f6f6;
$tan: #f9f7f2;
$dark-tan: #dbdbdb;

$dark-gray: #999999;
$black: #080808;

$red: #c33329;

$teal: #1cb4b0;
$light-teal: #b3e6e4;

// From the initial todo less files
$color-primary: #2cc5d2; //caribbean teal (buttons)
$color-secondary: #5db9ff; //cerulean blue (menu new list)
$color-tertiary: #d2edf4; //muted teal (join/signin bg)
$color-ancillary: #1c3f53; //deep navy (nav heading, menu icon)
$color-complementary: #778b91; //muted navy (add item placeholder)
