// Set consistent vertical and horizontal spacing units.
$spacing-unit: 10px;
$double-spacing-unit: 20px;

// // Define Susy grid variables mobile first.
// $total-columns: 4;
// $column-width: 60px;
// $gutter-width: $spacing-unit;
// $grid-padding: 0px;

// $container-style: magic;
// $container-width: 1220px;

$narrow-width: 740px;
$normal-width: 980px;
$wide-width: 1220px;

$narrow-auth-width: $narrow-width - 220px;
$normal-auth-width: $normal-width - 290px;
$wide-auth-width: $wide-width - 400px;

$narrow: $narrow-width, 'no-query' true;
$normal: $normal-width, 'no-query' true;
$wide: $wide-width;
